body { background-color: #218db1;
    text-align: justify;

}

.hola { 
    
    background-color: azure;
    text-align:center;
    color:#218db1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.holis {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

li {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.ll { 
    background-color: azure ;
    padding: 6%;
    
}

.barco { 
    
    width: 3%;
    

}

.parrafos {
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rojo 
{ 

     padding-right: 1.2%;
     float: left;
      width: 300px;
      
      
    
  
   

}
 

.amarillo { 
    padding-left: 1%;
     float: right;
      width: 400px;
    
    
    
}
